body {
      background-color: black;
      margin: 0px;
      padding: 0px;
      height: 100%;
      font-family: 'Montserrat', sans-serif;
      color: white;
}

.header {
      background-color: rgb(73, 0, 150);
      text-align: center;
      padding: 5px;
      margin-bottom: 20px;
}

.center-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom:50px;
}

.container {
      padding: 20px;
      border: 2px solid white;
      border-radius: 25px;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: center;
}

.input-field {
      margin-bottom: 10px;
}

button {
      height: 30px;
      width: 30px; 
}

.footer {
      display: flex;
      flex-direction:column;
      text-align: center;
      justify-content: flex-end;
}